@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Questrial&display=swap');
html {
    scroll-behavior: smooth;
} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Main colors
$primary-color: #fc758c;
$muted-color  : #ffffff;
$secondary-color: #c3d0d8;

//Navbar colors
$nav-inactive-color  : #7a7a7a;
$nav-active-color    : #fff4f6;
$nav-active-bgcolor  : #ff5672;


//Font Families
$Montserrat: 'Montserrat', sans-serif;
$Questrial : 'Questrial',  sans-serif;

// Responsive mixins
$phone-width: 280px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
// Devises visibility
.mobile-hidden{
  @include phone(){
    display: none;
  }
}
.desktop-hidden{
  @include desktop(){
    display: none;
  }
}
.hidden{
  
  display: none;
}

// Text basics
p,h1{
  font-family: $Montserrat;
  letter-spacing: 2px;
}
h2,h3,h4,h5,h6,span,a{
  font-family: $Questrial;
  letter-spacing: 2px;
}
.heading-primary{
  letter-spacing: 6px;
  @include desktop(){
    font-size: 1.8rem;
  }
  @include phone(){
    font-size: 1.5rem;
  }
}
.text-muted{
  color: $muted-color;
}
.text-secondary{
  color: $secondary-color;
  font-weight: 700;
}
.text-primary{
  color: $primary-color !important;
  font-weight: 700;
}
.text-bold{
  font-weight: 900;
}
.text-center{
  text-align: center;
}

//Buttons
.button-primary{
  text-decoration: none;
  background-color: $muted-color;
  color: $primary-color;
  padding: 10px 30px;
  font-weight: 800;
  &:hover{
    border-color: $muted-color;
  }
}
.button-secondary{
  text-decoration: none;
  background-color: $primary-color;
  color: $muted-color;
  padding: 10px 30px;
  font-weight: 800;
  &:hover{
    border-color: $primary-color;
  }
}

//Sections
.main-section{
  
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop(){
    margin: 5px;
    height: 80vh;
  }
  @include phone{
    height: 70vh;
    margin: 5px;
  }
}
.portfolio-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}
//
.padding-small{
  padding: 20px 0;
}
.padding-bottom-large{
  padding-bottom: 40px;
}
.primary-background{
    background-color: $primary-color;
}
.margin-bottom{
  margin-bottom: 1.5rem;
}
.container{
  width: 100%;
  @include desktop{
    max-width: 1200px;
  }
  @include tablet(){
    max-width: 800px;
  }
  @include phone{
    max-width: 300px;
  }
  margin: 0 auto;
}
.small-container{
  @include tablet(){
    width: 10%;
  }
  @include desktop{
    width: 10%;
  }
  @include phone(){
    width: 20%;
  }
  margin: 0 auto;
}
.grid-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//Social media icons
.social-icons{
  a{ 
    margin: 10px ;
  }
}


// Navbar 
.search-input{
  width: 90%;
    border: none;
    padding: 15px 10px;
    transition: all .5s ease;
    font-family: $Questrial;
    
}
nav.desktop-menu { 
    ul {
      @include tablet(){
        margin: 0;
        padding: 0;
        list-style: none;
      }
      @include desktop{
        margin: 0;
        padding: 0;
        list-style: none;
      }
      @include phone(){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
    }
    li { 
      display: inline-block;
      vertical-align: middle;
      
    }
    
    a {
      font-family: $Questrial !important;
      display: block;
      padding: 6px 20px;
      text-decoration: none;
      color: $nav-inactive-color;
      &.nav-button:hover{
        background-color: $nav-active-bgcolor;
        color: $nav-active-color !important;
        opacity: 50%;
      }
      &.navbar-active , &.navbar-active-two{
        background-color: $nav-active-bgcolor;
        color: $nav-active-color !important;
      }
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    & div {
      margin-bottom: 15px;
      transition: all 1s ease;
      & img {
        width: 100%;
        object-fit: cover;
        transition: all 1s ease;
      }
    }
  }


  // Masonry Gallery
  .masonry-container {

    @include tablet(){
      columns: 5 220px;
      column-gap: 1.5rem;
      max-width: 900px;
      margin: 0 auto;
    }
    @include desktop{
      columns: 5 150px;
      column-gap: 1.5rem;
      max-width: 900px;
      margin: 0 auto;
    }
    @include phone(){
      columns: 5 120px;
    }
    div {
      margin: 0 0.5rem 0.5rem 0;
      width: 100%;
      transition: all 1s ease;
      padding: 5px;
      img {
        width: 100%;
        transition: all 1s ease;
      }
    }
  }

  //Mobile menú icon
  .menu-ico{
    div{
      width: 35px;
      height: 5px;
      background-color: $secondary-color;
      margin: 6px 0;
     
      
    }
  } 

  .toggle-container {
    transition: height 0.35s ease-in-out;
    position: absolute;
    background: $muted-color;
    width: 90%;
    left: 5%;
    overflow: hidden;
    z-index: 9999;
    border-radius: 0 0 5px 5px;
    padding-top: 15px;
    &:not(.active) {
      display: none;
    }
    & ul {
      & li {
        width: 100%;
        border-bottom: 1px solid $secondary-color;
        & a {
          padding: 8px 10px;
          display: block;
          text-decoration: none;
          color: $nav-inactive-color
        }
        & label img {
          width: 10%;
        }
        & .search-mobile {
          width: 90%;
          border: none;
          padding: 15px 10px;
          font-family: $Questrial;
          margin-left: 5px;
        }
      }
    }
  }